@import '../../../assets/styles/variables';

.layout-container {
    display: flex;
    min-height: calc(100vh - 64px);
    margin-top: 64px;
    position: relative;
}

.content {
    flex: 1;
    margin-left: 260px; // Default expanded sidebar width
    transition: margin-left 0.3s ease;
    width: 100%;

    &.sidebar-collapsed {
        margin-left: 0;
    }

    // Mobile styles
    @media (max-width: 768px) {
        margin-left: 0;
        width: 100%;
    }
}