@import 'assets/styles/variables';

.layout-container {
    display: flex;
    min-height: 100vh;
    padding-top: 64px; // Top bar height
}

.content {
    flex: 1;
    margin-left: 240px; // Sidebar width
    padding: $spacing-6;
    background-color: $background-color;
    min-height: calc(100vh - 64px);
}